
#attackButton{
    visibility: hidden;
}

#resetButton{
    visibility: hidden;
}

.character{
    white-space: nowrap;
   overflow: hidden;
   margin: 0;
    padding: 0;
    margin: -5px;
    width: 200px;
    height: 150px;
    
}
.character:hover{
    transform: scale(1.1); 
}
.character img{
    width: 100%;
    height: 100%;
}

p{
    white-space: nowrap;
}
#instructions{
    text-align: center;
    margin: auto;
}
#battleArena{
    text-align: center;
    margin: auto;
    width: 100%;
}

h1{
    margin: auto;
    font-family: 'Bangers', cursive;
}
.container{
    margin: auto;
}
#buttons{

    text-align: center;
}
#buttons:hover{
    transform: scale(1.1); 
}

body{
    background-image: url("../images/finaldest.png");
    color:white;
    text-shadow: 2px 2px #2e1717;
}

.hide{
    visibility: hidden;
}